.Loader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.spinning {
	pointer-events: none;

	.children {
		opacity: 0.5;
	}
}

.fullscreen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.spinner {
	width: 48px;
	height: 48px;
	border: 5px solid rgba(72, 124, 255, 0.884);
	z-index: 2;
	border-bottom-color: transparent;
	position: absolute;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
	border-radius: 50%;
	display: inline-block;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
