.main_wrapper {
	padding: calc(var(--header-height) + var(--main-wrapper-padding))
		var(--main-wrapper-padding);
}

.main {
	background-color: var(--secondary-color);
	padding: 20px;
	height: 100%;
	border-radius: 10px;
}
