.Input {
	width: 100%;
	padding: 9px;
	border: 2px solid rgba($color: #e7e7e773, $alpha: 1);
	background-color: rgba($color: #fcfcfc24, $alpha: 1);
	border-radius: 5px;
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
}

.Input:focus {
	border: 2px solid var(--primary-color) !important;
	outline: none;
}

.dashed {
	background-color: transparent;
	border: 2px dashed rgba(0, 0, 0, 0.209);
}