.app.light {
	--primary-color: rgba(72, 206, 255, 0.894);
	--secondary-color: rgba(245, 245, 245, 0.682);

	--link-color: rgba(23, 88, 252, 0.884);
	--link-color-hovered: rgba(16, 64, 184, 0.884);
	--link-color-active: rgba(72, 124, 255, 0.884);

	--primary-background-color: rgb(236, 255, 253);
}
