.input_wrapper {
	display: inline-block;
	position: relative;
}

.icon {
	position: absolute;
	right: 5px;
	cursor: pointer;
}

.input {
	padding-right: 35px;
}

.visible_toggle_btn {
	border: none;
	position: absolute;
	right: 5px;
	top: 4px;
	background-color: transparent;
	padding: 0;

	&:hover {
		background-color: transparent;
	}

	&:active {
		background-color: transparent;
	}
}
