.header {
	width: 100%;
	min-height: 80px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.127);
	background-color: #ffffffa3;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
