.admin_options_container {
	position: absolute;
	bottom: -20px;
	left: 20;
}

.btn {
	height: 20px;
	background-color: rgba(255, 166, 166, 0.884) !important;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	color: #fff;

	&:hover {
		background-color: rgba(254, 130, 130, 0.884) !important;
	}
}
